.h1Thanks, .returnLink {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.returnLink a {
    color: #333;
}
.returnLink a:hover {
color: #E27689;
}